:root {
  --primary-bg: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

.ql-snow {
  border: none !important;
  font-family: inherit !important;
  font-size: 16px !important;
}

.ql-snow .ql-fill {
  fill: var(--txtClr) !important;
}

.ql-snow .ql-stroke {
  stroke: var(--txtClr) !important;
}
